---
layout: about
title: About
---

<div class="about">


<div class="uvod">
    <div class="image-cropper">
        <img src="assets/images/about/profilovka-fial low.jpeg" alt="profilovka"/>
    </div>
    <p>Som 22-ročný študent matematiky a teoretickej informatiky, ktorý bude pokračovať vo svojom štúdiu na Univerzite v Oxforde.</p>
</div>




<div class="box box-left">
    <h2>Moja cesta k matematike a informatike</h2>
        <div class="oddiel-container">
            <div class="oddiel-text">
                Matematika ma fascinovala už od detstva, kedy som začal riešiť rôzne korešpondenčné súťaže organizované P-MATom a Trojstenom a spoznal množstvo skvelých ľudí, ktorí mali zápal pre vedu a pre poznávanie. Vďaka nim som zistil, že matika, fyzika či informatika, môže byť <b>očarujúca, kreatívna, plná výziev, elegantná</b> a až prekvapujúco prítomná v každodennom živote. Zároveň sú to práve konkrétni ľudia, ktorým <b>vďačím</b> za to obrovské množstvo času, ktoré strávili rozprávaním a vysvetľovaním, kým ja som s obdivom, alebo často nechápavo počúval.
            </div>
        <div class="oddiel-picture">
            <img src="assets/images/about/trojsten low.jpeg" alt="kms"/>
        </div>
        </div>
    <div class="funfact-box">
        Vďaka...
        <ul>
            <li>...Dávidovi a Jožovi, za ochotu a velikánstvo, pri ktorom som vyrástol.</li>
            <li>...Trojstenu a P-MATu, za komunitu, hravosť a úžasné roky.</li>
            <li>...mojim učiteľom/kám (p. Sroková, p. Miklošovičová, p. Trúsiková, doc. Kubáček, prof. </li>Rovan), za podporu, vzor v učení a vedenie k precíznosti.
            <li>...otcovi, za odovzdanie nadšenia pre vedu.</li>
        </ul>
    </div>
</div>





<div class="box box-right">
    <h2 >Súťaže a úspechy</h2>
    <div class="oddiel-container">
        <div class="oddiel-picture">
            <img src="assets/images/about/mo 2 low.jpeg" alt="kms"/>
        </div>
        <div class="oddiel-text">
            Jasnosť v postupe a rýchlosť v riešení som nadobudol najmä vďaka korešpondenčným súťažiam, kde som si cvičil <b>vysvetľovanie postupu a hľadanie najelegantnejšieho riešenia.</b>
            Zapájal som sa do rôznych korešpondenčných, tímových, či jednodňových súťaží a do rôznych olympiád. Za najväčší úspech považujem postup do Middle Europe Mathematical Olympiad v Litve.
        </div>
    </div>
    <div class="funfact-box">
        V číslach:
        <ul>
            <li>Napísal viac ako <b>250</b> niekoľko-stranových riešení úloh z matematiky, fyziky a informatiky.
                </li>
            <li>Strávil viac ako <b>pol roka</b> na sústredeniach a akciách P-MATu a Trojstenu.
                </li>
            <li>Tri krát som sa dostal do celoštátneho kola Matematickej Olympiády a raz Olympiády z Informatiky.
                </li>
            <li>Kvalifikoval som sa na <b>Middle Europe Mathematical Olympiad</b> (Vilnius 2017), kde som získal čestné uznanie.
                </li>
        </ul>
    </div>
</div>


<div class="box box-left">
    <h2>Dobrovoľníctvo</h2>
    <div class="oddiel-container">
        <div class="oddiel-text">
            Okrem riešenia všemožných súťaží som taktiež pôsobil ako dobrovoľník v neziskových organizáciach <b><a href="https://p-mat.sk">P-MAT</a> a <a href="https://trojsten.sk">Trojsten</a></b>, kde som opravoval riešenia mladších žiakov, pripravoval týždňové tábory pre mladších aj starších, organizoval jednodňové podujatia, ale aj učil na stredných školách a prednášal na sústredeniach.
        </div>
        <div class="oddiel-picture">
            <img src="assets/images/about/kladky 2 low.jpeg" alt="kms"/>
        </div>
    </div>
    <div class="funfact-box">
        <ul>
            <li>
                Obľúbená prednáška 🎻 Matematika a fyzika hudby
                </li>
            <li>
                Najhravejší seminár 🌀 O odstredivej sile a zotrvačnosti
            </li>
            <li>
                Snáď niekedy 🔟 O deliteľnosti v ne-desiatkových sústavách
            </li>
        </ul>
    </div>
</div>




<div class="box box-right">
    <h2>Vzdelanie a skúsenosti</h2>
    <div class="oddiel-container">
        <div class="oddiel-picture">
                <img class="my-picture" src="assets/images/about/noc low.jpeg" alt="kms"/>
        </div>
        <div class="oddiel-text">
            Po úspešnom zmaturovaní na Gymnáziu Jura Hronca som nastúpil na <b>štúdium teoretickej informatiky</b> na Fakultu matematiky, fyziky a informatiky UK. Spoznal som úžasné oblasti, ako formálne jazyky, algebru, či kvantové spracovanie informácie, ku ktorým sa budem chcieť v ďalšom pôsobení ešte vrátiť. Moju bakalársku prácu som písal z oblasti konečných automatov a štúdium sa mi podarilo ukončiť s vyznamenaním. Toto leto som sa dostal na <b>výskumnú stáž</b> do <a href="https://ist.ac.at/home">ISTA</a>, kde pod Thomasom Henzingerom pracujem na výskume v oblasti formálnej verifikácie. Po skončení magisterského štúdia MFoCS na Oxforde zvažujem doktorandské štúdium v súvisiacich oblastiach.
        </div>
    </div>


    <div class="funfact-box funfact-cv">
        <div class="cv-container">
            <div class="cv-item">
                <div class="cv-img">
                    <img src="assets/images/about/gjh-trans-biel.png" alt="GJH"/>
                </div>
                <div class="cv-popis">2016-2019</div>
            </div>
            <div class="cv-item">
                <div class="cv-img">
                    <img src="assets/images/about/fmph.png" alt="FMFI"/>
                </div>
                <div class="cv-popis">2019-2022</div>
            </div>
            <div class="cv-item">
                <div class="cv-img">
                    <img src="assets/images/about/ista.svg" alt="ISTA"/>
                </div>
                <div class="cv-popis">leto 2022</div>
            </div>
            <div class="cv-item">
                <div class="cv-img">
                    <img src="assets/images/about/oxford.png" alt="Oxford"/>
                </div>
                <div class="cv-popis">2022-2023</div>
            </div>
        </div>
    </div>
</div>




<div class="box box-left">
    <h2>Nadhľad</h2>
    <div class="oddiel-container">
        <div class="oddiel-text">
                Jeden z aspektov mojej osoby je aj záujem vo vedách filozofických, ktorý nabral na sile počas dvojročného štúdia v <b><a href="https://www.kolegium.org/">Kolégiu Antona Neuwirtha</a></b>. Baví ma (a zároveň frustruje), keď vidím, že aj za tými najistejšími vecami je nejaká filozofická námietka a práve tieto námietky, či skôr otázky, nám vedia mnoho-násobne rozšíriť obzory. Určite sa v nasledujúcich rokoch chcem venovať napríklad aj nasledujúcim témam a myslím si, že o tieto otázky nebude nikdy núdza.
        </div>
        <div class="oddiel-picture">
            <img src="assets/images/about/kan-2 low.jpeg" alt="kan"/>
        </div>
    </div>
    <div class="funfact-box">
        Môžete dumať:
        <ul>
            <li>
                Môže počítač nadobudnúť vedomie podobné ľudskému?
                </li>
            <li>
                Aký etický princíp aplikovať pri autonómnych autách?
                </li>
            <li>
                Dá sa filozofia zmatematizovať?
                </li>
            <li>
                Ako vieme, že je nejaký dôkaz správny?
                </li>
        </ul>
    </div>
</div>



<div class="box box-right">
    <h2>Záľuby</h2>
    <div class="oddiel-container">
        <div class="oddiel-picture">
            <img style="-webkit-transform: scaleX(-1);transform: scaleX(-1);" src="assets/images/about/fagaras-wider 2 low.jpeg" alt="fagaras"/>
        </div>
        <div class="oddiel-text">
            Asi každý, kto so mnou strávil aspoň nejaký ten čas, už odo mňa dostal pozvánku na výlet <b>do hôr</b>, orientačný beh, či viac-dňovú turistiku. Neoddeliteľnou súčasťou môjho života je aj <b>hudba</b>, ktorá sa u mňa prejavuje cez hru na klavír, gitaru, melodiku a istú dobu som hral aj v kapele. Dobrý nápad, ktorý málokedy odmietam, je aj <b>hranie spoločenských hier</b>. Rád si s vami „zadrtím“ čokoľvek od niekoľko hodinových strategických, cez Bang!, až po stolové hry pre deti, v ktorých viete nájsť skrytú sofistikovanosť. A čo sa týka kníh, je tu niekto na debatu o Silmarillione?        
        </div>
    </div>
    <div class="funfact-box">
        Odporúčania:
        <ul>
            <li>
                Obľúbené pohorie ⛰ Západné Tatry
                </li>
            <li>
                Aktuálne najpočúvanejšia kapela 🎸 Kings of Convenience
                </li>
            <li>
                Top spoločenská hra 🎲 Scythe
                </li>
        </ul>
    </div>
</div>
<br>
<p>Posledná zmena: júl 2022</p>

<!-- 


<h2>Súťaže</h2>
<p>


    Vášeň pre matematiku a informatiku sa u mňa rozvinula najmä vďaka súťažiam organizovanými
    neziskovými organizáciami P-MAT a Trojsten. Zapájal som sa najmä do korešpondenčných súťaží, kde som 


    
    Vášeň pre matematiku sa u mňa rozvinula najmä cez riešenie rôznych netradičných úloh, kde som potreboval
    vysvetliť celé riešenie daného problému 

    Nadšenie pre matematiku a informatiku sa u mňa rozvinulo najmä vďaka riešeniu rôznych problémov
    korešpondečných súťaží, či na jednorazových súťažiach
    
    organizovaným
    P-MATom a Trojsten
     som sa viac ako šiestich korešpondečných súťaží a viac ako
    desiatich tímových súťaží v matematike, fyzike a informatike, kde som spísal viac než
    250 riešení na zadané problémy
    
    Strávil som viac ako pol roka čistého času na táboroch z matematiky a fyziky,
    kde som absolvoval množstvo zaujímavých prednášok, netradičných hier a vybudoval si vzťahy na dlhé roky.
</p>




<h2>MEMO</h2>
<p>
    Medzi najväčšie úspechy patrí účasť na Middle Europe Mathematical Olympiad (Vilnius 2017),
    kde som získal čestné uznanie

    Na strednej škole som aktívne riešil Matematickú olympiádu, čoho výsledkom bola trojnásobná
    účasť na celoštátnom kole a postup do Middle Europe Mathematical Olympiad v roku 2017 vo Vilnuse,
    kde som získal čestné uznanie.
</p>





<h2>Školy</h2>
<p>
Študoval som na najlepšie hodnotenom gymnáziu na Slovenku - Gymnáziu Jura Hronca
a aktuálne končím 3. ročník bakalárskeho štúdia informatiky na bratislavkom Matfyze,
kde píšem bakalársku prácu na tému „Štrukturálne obmedzenie automatov s váhami“ a smerujem k vyznamenaniu.
</p> -->



</div>