---
layout: framework
---

<!-- 
<div class="articles">

  {% for post in site.private %}
    {%- assign post_url = post.url | relative_url -%}
    <p>
      <a class="post-link" href="{{ post_url }}">
      {{ post.title | escape }}
      </a>
    </p>
  {% endfor %}

</div> -->