---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: home
title: Home
banner: "/assets/images/banners/graduation_final.jpg"
---
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J26NDD0RZJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J26NDD0RZJ');
</script>

<script>
function copy_text(num) {
    navigator.clipboard.writeText(num);
}
</script>


<p>
Od októbra 2022 do septembra 2023 som študoval na University of Oxford odbor MSc. Mathematics and Foundations of Computer Science a toto štúdium som aj <b>úspešne ukončil s vyznamenaním.</b> Na tejto stránke som organizoval zbierku pre pokrytie časti mojich nákladov na školné. Všetkým donorom patrí moja vďaka.
</p>
<p>
O mojej skúsenosti píšem v týchto newslettroch:
</p>
<p>
<a href="/2023/02/01/newsletter-october.html">Newsletter I.</a> z októbra 2022
<br>
<a href="/2023/02/02/newsletter-december.html">Newsletter II.</a> z decembra 2022
<br>
<a href="/2023/05/21/newsletter-april.html">Newsletter III.</a> z apríla 2023
<br>
<a href="/2023/09/19/newsletter-end.html">Newsletter IV.</a> zo septembra 2023
</p>
<p>
K dispozícií nechávam aj bývalú podstránku <a href="/about.html">"o mne"</a> a podstránku s <a href="/referencie.html">referenciami</a>.
</p>
<p>
Ak by ste sa chceli o niečom porozprávať alebo sa poradiť, nižšie na mňa nájdete kontakty.
</p>