---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: referencie
title: Referencie
---


<div class="referencie">



<div class="ref-container">
    <div class="ref-image">
      <img src="assets/images/references/fmph.png" alt="FMFI"/>
    </div>
    <div class="ref-text">
      Od septembra 2021 som vedúcim Pavlovej bakalárskej práce v oblasti automatov s váhami, za ktorej tému si Pavol vybral pomerne ambiciózny výskumný projekt. Za prvých niekoľko mesiacov našej spolupráce Pavol dokázal bez väčšej predchádzajúcej prípravy úspešne uchopiť základy tejto vednej oblasti, čo je na bakalárskom stupni štúdia na FMFI UK pomerne neobvyklé.<br>
      Pavlove študijné výsledky na FMFI UK boli doposiaľ veľmi solídne a aj to ma spoločne s Pavlovou adekvátnou jazykovou vybavenosťou privádza k viere, že Pavol je dostatočne vybavený na štúdium na Oxforde a že toto štúdium bez väčších problémov zvládne.
      <div><b>Mgr. Peter Kostolányi, PhD. – školiteľ bakalárskej práce</b>
      </div>
    </div>
</div>



<div class="ref-container reverse-order obal">
  <div class="ref-image">
    <div class="image-cropper">
        <img src="assets/images/references/jana.jpg" alt="Jana Trúsiková"/>
    </div>
  </div>
  <div class="ref-text">
      Pavla si pamätám z jeho stredoškolských čias ako nadšeného riešiteľa všetkých súťaží a zaujímavých problémov v oblasti matematiky a informatiky. Bol tiež dôležitým a stabilným členom súťažných družstiev, čo si nesmierne vážim. Nie vždy vedia študenti spojiť vedomosti so spoluprácou. Počas svojej 20 ročnej praxe som veľa takých študentov nemala a aj preto ho v štúdiu na Oxforde podporujem.
      <div><b>Mgr. Jana Trúsiková, PhD. – riaditeľka SŠ Novohradská</b>
      </div>
  </div>
</div>



<div class="ref-container">
    <div class="ref-image">
        <div class="image-cropper">
          <img src="assets/images/references/zaba.jpg" alt="Žaba"/>
        </div>
    </div>
    <div class="ref-text">
      Pavla som spoznal prostredníctom neziskovej organizácie Trojsten, ktorá rozvíja talenty mladých ľudí v matematike, fyzike či informatike. Už na druhom stupni základnej školy horlivo rozširoval svoje vedomosti prostredníctvom súťaží organizovaných Trojstenom. Počas strednej školy zároveň pôsobil v Trojstene ako dobrovoľník, organizoval tábory a prednášky pre mladších žiakov. V rámci týchto akcií som sa mal možnosť presvedčiť, že Pavol je niekto, na koho sa dá spoľahnúť, je usilovný a ochotný pomáhať druhým. Práve tieto vlastnosti boli veľkým prínosom do nášho tímu
      <div><b>Mgr. Michal Anderle, PhD. – bývalý vedúci Trojsten, o.z.</b>
      </div>
    </div>
</div>




<div class="ref-container reverse-order obal">
  <div class="ref-image">
    <div class="image-cropper">
      <img class="my-picture" src="assets/images/references/palo.jpeg" alt="P-MAT"/>
    </div>
  </div>
  <div class="ref-text">
    Pala Kebisa poznám ako zodpovedného človeka, ktorý si poriadne zváži či sa do niečoho pustí, alebo nie. Keď sa už rozhodne pre nejakú aktivitu, je na neho veľký spoľah, ide z neho rozvaha, pokoj a dokáže vnímať dôležité súvislosti. Palo je človek, ktorému záleží veľmi záleží nielen na vlastnom vzdelaní, ale aj na rozvoji ľudí na okolo. Vážim si ho ako človeka s pevným charakterom, odhodlaním a chuťou zlepšovať seba, aj svet naokolo.
    <div><b>Bc. Pavol Koprda – riaditeľ P-MAT, n.o., Forbes 30 pod 30</b>
    </div>
  </div>
</div>


</div>