---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: home
title: Home
banner: "/assets/images/banners/radcliffe_right_res.jpg"
---
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J26NDD0RZJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J26NDD0RZJ');
</script>

<script>
function copy_text(num) {
    navigator.clipboard.writeText(num);
}
</script>


<div class="homepage">

<p class="prvy-odsek">
    Matematike sa venujem už <b>od detstva</b> a čím viac ju spoznávam, tým som si istejší, že sa jej chcem venovať aj na akademickej pôde. Na bratislavskom Matfyze som spoznal čaro teoretickej informatiky a toto štúdium ma uistilo, že práve <b>kombinácia teoretickej informatiky a matematiky</b> je to, čo ma skutočne baví a na čo mám vlohy.
    </p>

    <!---<p class="citat" style="margin-top: 50px;margin-bottom:50px;">„“</p>--->

    <!---<p class="citat" style="margin-top: 50px;margin-bottom:50px;">„Magisterské štúdium v Oxforde mi pomôže na ceste stať sa špičkovým slovenským vedcom.“</p>--->


<div class="obal obal-modry center-align">
    Tento rok som sa dostal na magisterské štúdium <a href="https://www.ox.ac.uk/admissions/graduate/courses/msc-mathematics-and-foundations-computer-science"></a>MSc Mathematics and Foundations of Computer Science (MFoCS) na University of Oxford:
    <div class="preco-oxford-container">
        <div class="preco-oxford-flex">
            <img class="icon-img invert-color" src="assets/images/icons/math.png" alt="Oxford">
            <img class="icon-img invert-color" src="assets/images/icons/computer.png" alt="Oxford">
            <br>
            unikátny program, ktorý <b>perfektne sedí</b> mojim záujmom
        </div>
    
        <div class="preco-oxford-flex">
            <img class="icon-img invert-color" src="assets/images/icons/team.png" alt="Oxford">
            <br>
            úžasné <b>výskumné tímy</b> v oblasti algoritmov, kvantových počítačov či formálnej verifikácie
        </div>
        <div class="preco-oxford-flex">
            <img class="icon-img invert-color" src="assets/images/icons/quantum.png" alt="Oxford">
            <img class="icon-img invert-color" src="assets/images/icons/torus.png" alt="Oxford">
            <img class="icon-img invert-color" src="assets/images/icons/algorithm.png" alt="Oxford">
            <br>
            obsahuje <b>predmety</b>, ktoré sa vyučujú iba veľmi zriedkavo
        </div>
    
    </div>
</div>


<div class="oxford-images">
    <div class="oxford-image-flex">
        <img src="assets/images/fotky oxford/radcliff camera.jpeg" alt="Oxford">
        <img src="assets/images/fotky oxford/hall.jpeg" alt="Oxford">
    </div>
    <div>zdroj: <a href="https://www.publicdomainpictures.net/en/view-image.php?image=368052&picture=oxford-uk">radcliffe</a>, <a href="https://www.reddit.com/r/europe/comments/az5vs0/hall_of_the_christ_church_college_in_oxford/">hall</a></div>
</div>


<!---<p class="citat w3-margin" >„VýskumomMojou veľkou vášňou je nadchýňať mladých študentov pre matematiku.“</p>--->

<div class="treti-odsek">
    <h4><b>Prečo ma podporiť?</b></h4>

    <ul>
        <li><b>Veda premieňa spoločnosť.</b> Pomáha budovať vzdelanú spoločnosť, posúva hranice ľudských možností, či nás približuje k lepšiemu poznaniu seba a sveta.</li>
        <li><b>Matematika je stále dôležitá.</b> V pozadí každého videohovoru, googlenia alebo štatistiky o covide sa vždy skrýva nejaký vzorec, či matematik, vďaka, ktorému daná vec funguje.</li>
        <li><b>Zaujímam sa o vzdelávanie ostatných.</b> Aj na základe mojich doterajších skúseností vidno, že mám záujem o budovanie kvalitného vzdelávania v oblastiach matematiky, či informatiky a to obzvlášť na Slovensku.</li>
       <li><b>Nebojím sa vidieť viac ako vedu.</b> Otázky o umelej inteligencii, či autonómnych autách si vyžadujú, aby vedci neboli ľahostajní voči dôsledkom svojho výskumu.</li><!---
        
        Zaujímam sa o dôsledky môjho výskumu na spoločnosť. Ako vedec sa chcem zaujímať o to, aké má dopady môj výskum a kde 
            Vďaka svojmu záujemu vo filozofii 
            
            sa chcem pýtať na dôsledky svojho výskumu a aké hranice má dnešný pokrok v informačných technológiach.</li>
        <li>
            Myslím si, že každý ve
            Považujem za podstatné, aby sme nie len rástli vo vedeckom poznaní, ale aby ono nebolo nie len rásdôleVýskum v umelej inteligencii či autonómnych autách si žiada pýtať sa fundamentálne otázky </li>--->
    </ul>
<p></p>
<!---
Aby som mohol v októbri nastúpiť, potrebujem získať financie na zaplatenie školného. <b>Ďakujem, za každú podporu!</b>

    


    Vďaka svetovej úrovni Univerzity v Oxforde mám možnosť získať nenahraditeľné skúsenosti, ktoré budú <b>široko využiteľné</b> na akademickej pôde, vo vývoji technológií, či pri pedagogickej činnosti. 
    
    MyslímVerím, že aby sme mohli pomôcť vede na Slovensku, <b>potrebujeme vedcov</b> s kvalitnou zahraničnou skúsenosťou.-
        Slovensko má veľké rezervy pri budovaní podporujúceho vedeckého prostredia. Na zmenu sú však potrební kvalitne vzdelaní a najmä zapálení vedci pre svoju prácu a so záujmom o pozdvihnutie slovenského školstva a výskumu.

    <b>Svoje poslanie</b> vidím v nadchýnaní študentov, či už ukazovaní hravosti a krásy matematiky, ale aj približovaním reálneho výskumu študentom už od stredných škôl. Zároveň verím, že svojim výskumom budem môcť pomôcť vybudovať na Slovensku kvalitné vedecké prostredie.
    Situácia vedy a školstva na Slovenku je neľahká. Množstvo  a verím tomu, že práve špičkoví a zapálení vedci vedia  
    
    edcov a špecificky matematikov potrebujeme v každej dobe, či už aby Vďaka svetovej úrovni Univerzity v Oxforde mám možnosť získať skúsenosti, ktoré budú <b>široko využiteľné</b> na akademickej pôde, vo vývoji technológií, či pri vyučovacích činnostiach.  Verím, že aby sme mohli pomôcť vede na Slovensku, <b>potrebujeme vedcov</b> s kvalitnou zahraničnou skúsenosťou.-->
</div>




<div class="zbierka" id="zbierka">
    <span><h4 class="zbierka-headline">STAV ZBIERKY</h4></span>
    <object type="text/html" data="progress_bar/progress_bar.html"></object>

</div>

<!---

<div class="ucty-zbierka obal-margin-bottom">
    <div class="text_nalavo obal obal-modry">
        Vaše dary môžete poslať na osobný účet<br>
        <b>SK46 1100 0000 0029 3533 0741</b> (EUR)  <button class="copybutton" onclick="copy_text('SK46 1100 0000 0029 3533 0741');">Skopíruj</button><br>

        alebo na transparentný účet:<br>
        <a href="https://ib.fio.sk/ib/transparent?a=2902167394"><b>SK78 8330 0000 0029 0216 7394</b></a> (EUR)  <button class="copybutton" onclick="copy_text('SK78 8330 0000 0029 0216 7394');">Skopíruj</button>

        <p>ĎAKUJEM!</p>
    </div>

    <div class="qr-kod">
        <img src="assets/images/qr pbs personal.png" alt="QR" width="150px" height="auto">
        <div class="popis_qr">Osobný účet</div>
    </div>

    <div class="qr-kod">
        <img src="assets/images/qr pbs transparent.png" alt="QR" width="150px" height="auto">
        <div class="popis_qr">Transparentný účet</div>
    </div>
</div>

-->


<div class="odmena-container obal-margin-bottom button-newsletter">
    <a href="/newsletter.html" class="odmena-flex">
    <div>
        <div class="odmena-text"  style="text-decoration: none;">Prihláste sa na odber Newslettra</div>
    </div>
    </a>
</div>
<!---
<div class="odmena-nadpis">Čo môžete získať?</div>
<div class="odmena-container obal-margin-bottom">
    <div class="odmena-flex">
        <div class="odmena-suma">Každý</div>
        <div class="odmena-text">Newsletter z Oxfordu</div>
        <div class="odmena-subtext"><a href="/newsletter.html">Prihláste sa na odber</a></div>
    </div>

    <div class="odmena-flex">
        <div class="odmena-suma">≥ 31,41€</div>
        <div class="odmena-text">+ pohľadnica s poďakovaním z Oxfordu</div>
    </div>

    <div class="odmena-flex">
        <div class="odmena-suma">≥ 100€</div>
        <div class="odmena-text">+ osobitné poďakovanie v záverečnej práci</div>
    </div>
</div>
-->

<div class="obal obal-sedy obal-margin-bottom">
    <h4><b>Ako som si našiel financie?</b></h4>
    <p>
    Školné na rok stojí £28 560, čo je približne 34 000€. Vďaka štedrým nadáciam a 60 darom od dobrých ľudí sa mi podarilo pokryť celú sumu. <b>ĎAKUJEM!</b> Životné náklady (bývanie, jedlo, cestovanie, víza...), ktoré sa pohybujú okolo 18 000€, mám pokryté s pomocou rodiny a z vlastných úspor.
    </p>

    <h4><b>Prečo to toľko stojí?</b></h4>
    <p> Po brexite sa školné pre európskych študentov viac než zdvojnásobilo, bez možnosti uplatniť si študentskú pôžičku od britskej vlády. Zároveň na porovnanie, toto školné vôbec <b>nie je</b> najdrahšie spomedzi britských škôl za podobný kurz (viď <a href="https://www.imperial.ac.uk/study/ug/courses/computing-department/mathematics-computer-science-meng/#tuition-fees-and-funding">tu</a>, <a href="https://www.ed.ac.uk/tuition-fees/find/postgraduate-taught/2022-2023/taught-masters?keyword=computer">tu</a>, <a href="https://www.kcl.ac.uk/study/postgraduate-taught/courses/advanced-computing-msc">tu</a>, či <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/cscsmpacs/finance">tu</a>) a <a href="https://www.collegetuitioncompare.com/best-schools/mathematics">oproti školám v USA</a> je veľmi výhodné.</p>

    <h4><b>Prečo to trvá jeden rok?</b></h4>
    <p>V Británií je rok bežná dĺžka magisterského štúdia. Avšak budem tam 12 mesiacov, v ktorých budem mať dva trimestre štúdia a počas tretieho trimestra a leta budem písať diplomovú prácu.</p>
</div>

<!-- 
<div class="w3-content w3-padding" style="max-width:1000px;">
    <div class="w3-row-padding">
        <div class="w3-col l4 m6 w3-margin-bottom w3-margin-top obal-modry" style="height:100px;">
        
            <p>Viac o mne si môžete prečítať tu.</p>
        </div>

        <div class="w3-col l4 m6"style="height:100px;">
        
            <div class="w3-display-container obal-treti">
            <p>Referencie nájdete na tejto stránke.</p>
            </div>
        </div>

        <div class="w3-col l4 m6" style="height:100px;">
            <div class="w3-display-container obal-sedy">
            <p>V tomto blogu si môžete prečítať o tom čo sa skrýva tabuli za mnou.</p>
            </div>
        </div>

    </div>
</div> -->


<div class="zaver">

    <p>Viac o mne si môžete prečítať <a href="/about.html">tu.</a></p>
    
    <p>Referencie nájdete na <a href="/referencie.html">tejto stránke.</a></p>
</div>

</div>