@charset "utf-8";

// Define defaults for each variable.

// $base-font-family: Helvetica, Arial, Oswald, sans-serif, !default;
// $blog-body-font-family: Times New Roman, Helvetica, Arial, Oswald, sans-serif, !default;
$base-font-family: Hoefler, sans-serif, !default;
$body-font-family: Hoefler, sans-serif, !default;
$heading-font-family: Montesserat-Regular, sans-serif, !default;
$title-font-family: Baron, sans-serif, !default;
$base-font-size: 13pt !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$text-color:       #454545 !default;
$background-color: #fff !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$white-color: #fdfdfd !default;


$prog-background-mild: #C3BEBD !default;
$prog-background-strong: #C3BEBD !default;
$prog-main: #272333 !default;

$strong-color: black !default; // #272333 !default; // progress bar inside
$middle-color: #42658d !default; // prispevky na about, main page bublina
$light-color: #C5C8CB !default; // prispevky na references, about, progress bar, faq

// $strong-color: #272333 !default; // progress bar inside
// $middle-color: #89A3B7 !default; // prispevky na about, main page bublina
// $light-color: #C3BEBD !default; // prispevky na references, about, progress bar, faq

$table-text-align: left !default;

$header-height: $base-line-height * $base-font-size * 2.85 !default;
$header-text-color: invert($theme-color) !default;
$header-background-color: $theme-color !default;

$footer-height: $header-height * 1.05 !default;
$footer-text-color: lighten(invert($theme-color), 25%) !default;
$footer-background-color: darken($theme-color, 5%) !default;

$banner-height: 640px !default;//100vh !default ;//640px !default;
$banner-text-color: lighten($white-color, 0%) !default;
$banner-background: rgba(0,0,0,0.8) !default;

// Width of the content area
// $content-width:    920px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


@font-face {
  font-family: 'Hoefler';
  src: url(/assets/fonts/hoefler/Hoefler_Text_Regular.ttf);
}

@font-face {
  font-family: 'Montesserat-Regular';
  src: url(/assets/fonts/montserrat/MontserratAlternates-Regular.otf);
}

@font-face {
  font-family: 'Montesserat-Italic';
  src: url(/assets/fonts/montserrat/MontserratAlternates-Italic.otf);
}

@font-face {
  font-family: 'Baron';
  src: url(/assets/fonts/Baron/BaronNeue-Bold.otf);
}


// Import partials.
@import
  "yat/base",
  "yat/layout",
  "yat/dark",
  "yat/about",
  "yat/main",
  "yat/referencie",
  "misc/theme-toggle",
  "misc/article-menu",
  "misc/common-list",
  "misc/google-translate",
  "misc/gitment",
  "misc/click-to-top"
;
