<footer class="site-footer h-card">


  <div class="footer-nadpis">Napíšte mi/Pýtajte sa!</div>

  <div class="footer-icons">
    <div class="footer-icons-icon">
      <a href="mailto:paluso bodka kebis zavináč gmail ...">
    <img class="footer-icon-img" src="/assets/images/icons/mail.png"></a> 
    </div>
    <!---
    <div class="footer-icons-icon">
      <a href="tel:+421944146384">
      <img class="footer-icon-img"  src="assets/images/icons/telephone.png"></a>
    </div>
    -->
    <div class="footer-icons-icon">
      <a href="https://linkedin.com/in/pavol-kebis-2b1706240/">
      <img  class="footer-icon-img" src="/assets/images/icons/linkedin.png"></a>
    </div>
  <!--- <div class="footer-icons-icon">
      <a href="https://www.instagram.com/paliusobis/">
      <img  class="footer-icon-img" src="assets/images/icons/instagram.png"></a>
    </div>--->
  </div>


  <div class="footer-info">
      <div>Pavol Kebis © 2022</div>

      <div>Icons from <a href="https://www.flaticon.com/free-icons/oxford" title="oxford icons">Flaticon</a>, Elastic1, Natthapong, prettycons, Linector.
      Powered by <a title="Jekyll is a simple, blog-aware, static site
      generator." href="https://jekyllrb.com/">Jekyll</a> &amp; <a title="Yat, yet
      another theme." href="https://github.com/jeffreytse/jekyll-theme-yat">Yat Theme</a>.</div>
  </div>

