.about {


    .uvod {

        .image-cropper {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 180px;
            height: 180px;
            position: relative;
            border: 1px solid black;
            -webkit-border-radius: 90px;
            -moz-border-radius: 90px;
            border-radius: 90px;
            overflow:hidden;
             
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        p {
            padding-top: $spacing-unit * 0.8;
            text-align: center;
        }
    }


    .box-right {
        h2 {
            text-align: right;
        }
        .funfact-box {
            color:black;
            background-color: $light-color;
        }
        .oddiel-text {
            padding-left:$spacing-unit * 0.7;
        }

    }

    .box-left {
        h2 {
            text-align: left;
        }
        .funfact-box {
            color: white;
            background-color: $middle-color;;
        }
        .oddiel-text {
            padding-right:$spacing-unit * 0.7;
        }
    }

    .box {
        h2 {
            font-family: 'Baron';
            //src: url(assets/fonts/Baron/BaronNeue-Italic.otf);
            //text-shadow: 1px 1px 1px black;
            //font-family: 'Montserrat Alternates';
            margin-bottom: 0px;
        }
        .funfact-box {
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            padding: $spacing-unit * 0.6 $spacing-unit * 0.6;
        }
        .oddiel-container {
            display: flex;
            flex-direction: row;
            padding: $spacing-unit * 1 0;
        }
        .oddiel-text {
            flex: 72%;
            text-align: justify;
        }
        .oddiel-picture {
            flex: 28%;
            img {
                width: 100%;
                height: auto;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }
        }

        @media (max-width: 600px) { 
            .oddiel-container {
              flex-direction: column;
            }
            .oddiel-picture {
                padding: $spacing-unit * 0.5;
            }
            .oddiel-text {
                padding-left:$spacing-unit * 0.5;
                padding-right:$spacing-unit * 0.5;
            }
            h2 {
                padding: 0 $spacing-unit * 0.5;
            }
        }

    }


    .funfact-cv {
        .cv-container {
            display: flex;
            flex-direction: row;
            padding: $spacing-unit * 0.3 0;

            .cv-item {
                flex:25%;

                .cv-img {
                    width: 100%;
                    height: 110px;
                    margin: auto auto;
                    img {
                        width: 100px;
                        height: auto;
                    }
                }
                .cv-popis {
                    margin: 0px auto;
                    text-align: center;
                    padding: $spacing-unit * 0.3 0;
                }
            }
            :nth-child(3) {
                .cv-img img {
                    padding-top: 20px;
                    width: 130px;
                }
            }

            :nth-child(4) {
                opacity: 0.3;
            }
        } 
        @media (max-width: 600px) { 
            .cv-container {
              flex-direction: column;
            }
        }
           
    }
}