

.homepage {
    h4 {
        font-family: 'Baron';
    }

    // $strong-color
    // $middle-color
    // $light-color

    //font-size: 13pt;
    text-align: justify;

    .invert-color {
        filter:invert(100%);
    }

    .prvy-odsek, .treti-odsek, .zbierka {
        padding-bottom: $spacing-unit * 1.3;
    }
    .center-align {
        text-align: center;
    }

    .preco-oxford-container {
        display: flex;
        padding: $spacing-unit * 0.6;
        text-align: center;
            .preco-oxford-flex {
                margin: $spacing-unit * 0.3;
                padding: $spacing-unit * 0.4;
                flex: 33%;
                .icon-img {
                    width: 30px;
                    height: 30px;
                    padding: $spacing-unit * 0.2;
                }
            }
            div:nth-child(1), div:nth-child(2) {
                border-right: 1.5px solid white;
                //height: 200px;
            }
        @media (max-width: 600px) {
            flex-direction: column;
            div:nth-child(1), div:nth-child(2) {
                border-right: 0px solid white;
                border-bottom: 1.5px solid white;
                //height: 200px;
            }
        }
    }

    .oxford-images {
        padding: $spacing-unit * 1.3 0;
        .oxford-image-flex {
            display: flex;
            width: 100%;
            flex-direction: row;
            img {
                object-fit: cover;
                flex: 50%;
                padding: 0 1%;
                width: 40%;
            }

            @media (max-width: 600px) {
                flex-direction: column;

                img {
                    object-fit: cover;
                    flex: 100%;
                    padding: 1% 1%;
                    width: 100%;
                }
            }
        }
        div {
            text-align: right;
            padding: 0 1%;
            font-size: 7pt;
            color: $light-color;
        }
    }

    .zbierka {
        .zbierka-headline {
            border-top: 2px solid black;   
            padding: $spacing-unit * 0.3;
            box-shadow: $middle-color 4px 4px 10 10px;
            font-size: 15pt;
        }
        span {
            text-align: center;
            width: 100%;
        }
        object {
            width: 100%;
            height: 230px;
        }
    }

    .ucty-zbierka {
        display: flex;


        .text_nalavo {
            flex: 50%;
            color:white;
            text-align: justify;

            a {
                color: white;
                :hover {
                    color: darken(white, 10%);
                }
            }


            .copybutton {
                background-color: transparent;
                border: 1px solid white;
                border-radius: 4px;
                box-sizing: border-box;
                color:white;
                cursor: pointer;
                font-size: 10pt;
                margin: 0px auto;
                text-align: center;
                text-transform: none;
                touch-action: manipulation;
                user-select: none;
                -webkit-user-select: none;
                vertical-align: middle;

                :hover {
                    border: 1px solid darken(white, 30%);
                    color:darken(white, 30%);
                }
            }
            .copybutton:not([disabled]):active {
                transform: translate(2px, 2px);
            }
        }

        .qr-kod {
            margin: auto auto;
            flex: 25%;
            text-align: center;
            padding: 0 $spacing-unit * 0.5;

            .popis_qr {
                text-align: center;
                font-size: 7pt;
                font-family: Baron;
                color: grey;
            }
            img {
                min-width: 150px;
            }
        }
    }

    @media (max-width: 800px) {
        .ucty-zbierka {
            flex-direction: column;
            .qr-kod {
                padding: $spacing-unit * 0.5 0 ;
            }
        }
    }

    .obal {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: $spacing-unit * 0.6 $spacing-unit * 0.6;
    }

    .obal-sedy {
        background-color: $light-color;
    }

    .obal-modry {
        background-color: $middle-color;
        color: white;
        a {
            color: $strong-color;
        }
    }

    .obal-margin-bottom {
        margin-bottom: $spacing-unit * 1.5;
    }

    .citat {
        text-align: center;
        font-size: 20pt;
        color: $strong-color/* 
        font-style: italic; 
        font-family: Oxford;
        // src: url(assets/fonts/oxford/oxford.TTF) */
    }

    .button-newsletter {

        :hover {
            background-color: $middle-color;
            color: white;
        }
    }

    .odmena-nadpis {
        text-align: center;
        font-family: 'Baron';
        font-size: 15pt;
        margin-bottom: $spacing-unit * 0.4;
        margin-top: $spacing-unit * 1;;
    }

    .odmena-container {
        display: flex;
        text-align: center;
        .odmena-flex {
            flex: 33%;
            border: 1px solid $strong-color;
            padding: $spacing-unit * 0.3;
            border-radius: 8px;
            box-shadow: $middle-color 4px 4px 10 10px;
            margin: $spacing-unit * 0.3;
            font-family: Montesserat-Regular;
            .odmena-suma {
                font-size: 18pt;
                color: $middle-color;
                font-weight: bold;
            }
            .odmena-text {
                font-size: 13pt;
            }
            .odmena-subtext {
                font-size: 9pt;
            }
        }

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }
}