.referencie {
    .ref-container {
        display: flex;
        padding: $spacing-unit * 1 $spacing-unit * 1;
        .ref-image {
            $imagesize: 180px !default;
            flex: 30%;
            //padding: 0 $spacing-unit * 1;
            margin: auto;
            img {
                display: block;
                height: auto;
                width: $imagesize;
                margin: auto;
            }
            .image-cropper {
                width: $imagesize;
                height: $imagesize;
                position: relative;
                border: 1px solid black;
                -webkit-border-radius: $imagesize/2;
                -moz-border-radius: $imagesize/2;
                border-radius: $imagesize/2;
                overflow:hidden;
                margin: auto;
                img {
                    display: block;
                    height: auto;
                    width: $imagesize;
                }
            }

        }
        .ref-text {
            padding: $spacing-unit * 0.6 $spacing-unit * 0.6;
            flex: 70%;
            text-align: justify;
            div {
                text-align: right;
                padding: $spacing-unit * 1 0;
            }
        }
    }
    .reverse-order {
        flex-direction: row-reverse;
    }

    @media (max-width: 700px) { 
        $imagesize: 120px;
        .ref-container {
            flex-direction: column;
            padding: $spacing-unit * 1 0;
        }
    }

    .obal {
        background-color: $light-color;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }


}