
    <link rel="stylesheet" href="progress_bar.css">
    <script src="progress_bar.js"></script>
    <div id="celkoveHtml" class="celkovy">
      <p>Koniec zbierky: 31.8.2022</p>
      <div class="progress" id="outerframe">

      <!---<span class="slovakia"><img src="/assets/images/animation/sk.png" alt="Slovensko" width="80px" height="50px" style="left:-20px; top: 0px; position:absolute;"></span>--->
        <div class="progress-value" id="bar">
          <span ><img id="face" src="/assets/images/animation/profilovka.png" alt="Slovensko" width="30px" height="30px" style="left:0px; top: 5px; position:absolute;"></span>
        </div>
      <span class="oxford"><img src="/assets/images/animation/radcliffe.png" alt="Oxford" width="40px" height="40px" style="right:0px; top: 0px; position:absolute;"></span>

      </div>

      <div class="text-oprav">
        <p>Už mám: <span id="penezi" style="left: -20px;">0€</span><br>
        <span id="ciel" style="right: 15px;">Cieľ: 34 000 €</span><br>
        </p>
      </div>

      <div class="button-wrapper"><button class="button-50" role="button" onclick="myloader()">Stlač a zisti!</button></div>
  

      <div style="text-align: center;"><button id="zaloha" onclick="zmen_meno()">Nefunguje animácia?</button></div>

    </div>