
.celkovy {
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #ffffff;
  /*display: flex;*/
  height: 80px;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Helvetica;
  color: #454545;
  /*font-family:  Helvetica, Arial, Oswald, sans-serif;*/
  font-size: 14px;
}

#ciel, #penezi {
  position:absolute;

}
/*$strong-color: #272333 !default; // progress bar inside
//$middle-color: #597EAD !default; // prispevky na about, main page bublina
// #A5BAD7
//$light-color: #C5C8CB !default; */

.progress {
  background: #C5C8CB;                      /* farba progress-pozadia*/
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 0px;
  display: flex;
  height: 40px;
  width: 100%;
  margin-bottom:10px;
}

.progree-num {
  left: 0px;
}

.progress-value {
  /*animation: load 3s normal forwards;*/
  /*box-shadow: 0 10px 40px -10px #3D2944;*/
  border-radius: 70px;
  background-image: linear-gradient(to right, #42658d , #002147);
  /* background: #184476;                        farba progressu*/
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 89%; }
}


.button-wrapper {
  margin: 10px auto;
  width: 70%;
  text-align: center;  
}

.mojbutton {
  margin: 10px auto;
}

#zaloha {
  background-image: none;
  background-color: white;
  border: 0px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 0 auto auto;
  font-size:5pt;
  color:grey;
}



.button-50 {
  appearance: button;
  /*background-color: #272333;*/
  background-color: #C5C8CB;                      /* farba button-pozadia*/
  background-image: none;
  border: 0px solid black;                      /* farba button text*/
  border-radius: 4px;
  /*box-shadow: #fff 4px 4px 0 0, #272333 4px 4px 0 1px;*/
  box-sizing: border-box;
  color: black;                              /* farba button text*/
  cursor: pointer;
  /* display: inline-block;*/
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* overflow: visible;*/
  margin: 10px auto;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  /* white-space: nowrap;*/
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
  background-color:rgb(175, 179, 182)/*lighten(#C5C8CB, 20%);*/

}

.button-50:active {
  /*box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;*/
  outline: 0;
}

.button-50:not([disabled]):active {
  /*box-shadow: #fff 2px 2px 0 0, #272333 2px 2px 0 1px;*/
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}